# https://ai.google.dev/gemini-api/docs/api-key
GEMINI_API_KEY=

# https://app.tavily.com/home
TAVILY_API_KEY=

# This is passed to the LiteLLM server
LITELLM_MASTER_KEY=sk-1234

# https://console.anthropic.com/settings/keys
ANTHROPIC_API_KEY=
