# LiteLLM can be started from docker
OPENAI_API_BASE="http://localhost:4000"
OPENAI_API_KEY=sk-1234

# Set with your tavily key
TAVILY_API_KEY=<your tavily key>

# Use this for long context
CHAT_MODEL=gemini-2.0-flash

# override .venv
HAYHOOKS_PIPELINES_DIR=./pipelines
