# This is useful when you're running Hayhooks outside of a docker container for debugging
# https://docs.haystack.deepset.ai/docs/hayhooks#environment-variables

# The URL to use to look up models
OPENAI_API_BASE="http://localhost:4000"
OPENAI_API_KEY=sk-1234

# The URL pointing to Letta (used by provision search agent)
LETTA_BASE_URL=http://localhost:8283

# The URL pointing to Open WebUI (used by provision_search_agent)
OPENWEBUI_BASE_URL=http://localhost:3000

# Set this to false to disable SearXNG
HAYHOOKS_SEARCH_SEARXNG_ENABLED=true

# The model to use for the search pipeline.
HAYHOOKS_SEARCH_MODEL=gemini/gemini-2.0-flash

# The model to use for the excerpt pipeline.
HAYHOOKS_EXCERPT_MODEL=gemini/gemini-2.0-flash

##############################################
# Optional settings

# Set with your tavily key, optional
#TAVILY_API_KEY=

# Set with your link up key, optional
#LINKUP_API_KEY=

# Your exa key, optional
#EXA_API_KEY=

# Your Brave API key, optional
#BRAVE_API_KEY=

# Stackoverflow API key, optional
#STACKOVERFLOW_API_KEY=

# Zotero Library ID, optional
# https://www.zotero.org/settings/keys
#ZOTERO_LIBRARY_ID=

# Zotero API Key, optional
#ZOTERO_API_KEY=

# Zotero SQLite database file path, optional (defaults to zotero_json_cache.db)
#ZOTERO_DB_FILE=zotero_json_cache.db

# Useful defaults (I tend to use direct command line though)
#HAYHOOKS_DISABLE_SSL=true
#HAYHOOKS_PIPELINES_DIR=./pipelines
#HAYHOOKS_ADDITIONAL_PYTHONPATH=.
#HAYHOOKS_SHOW_TRACEBACKS=true
