model_list:
  # A full list of providers is here: https://docs.litellm.ai/docs/providers/
  - model_name: gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro-exp-03-25
      api_key: "os.environ/GEMINI_API_KEY"
      tags: ["gemini"]
    model_info:
      max_input_tokens: 1048576
      max_output_tokens: 8192

  - model_name: gemini-2.0-flash
    litellm_params:
      model: gemini/gemini-2.0-flash
      api_key: "os.environ/GEMINI_API_KEY"
      tags: ["gemini"]

  - model_name: gemini-2.0-flash-lite
    litellm_params:
      model: gemini/gemini-2.0-flash-lite
      api_key: "os.environ/GEMINI_API_KEY"
      tags: ["gemini"]

  - model_name: text-embedding-004
    litellm_params:
      model: gemini/text-embedding-004
      api_key: "os.environ/GEMINI_API_KEY"
      tags: ["gemini"]

  - model_name: claude-3-7-sonnet
    litellm_params:
      model: anthropic/claude-3-7-sonnet-20250219
      api_key: "os.environ/ANTHROPIC_API_KEY"
      tags: ["anthropic"]
      extra_headers: {"anthropic-beta": "token-efficient-tools-2025-02-19"}

litellm_settings:
  request_timeout: 600    # raise Timeout error if call takes longer than 600 seconds. Default value is 6000seconds if not set
